* {
    margin: 0;
    padding: 0;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px;
    grid-template-areas: "item1 item2" "item1 item3";
    margin: 30px 60px 30px 30px;
}

.item1 {
    grid-area: item1;
    background-color: blue;
    margin: 10px
}

.item2 {
    grid-area: item2;
    background-image: linear-gradient(to right, #000000, #ffa908);
    margin: 10px;
}

.item3 {
    grid-area: item3;
    background-image: url("../img/ANGULAR.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 10px;
}